<div class="container mt-3">
  <div class="row d-flex justify-content-center">
    <div class="col-9">
      <div class="container mt-3">
        <h2 class="mt-3">Edit article</h2>
        <%= render 'articles/form' %>
        <div class="mt-3">
          <%= link_to "Show", article_path(@article) %>
          <%= link_to "Back", articles_path %>
        </div>
      </div>
    </div>
  </div>
</div>
