 <div class="container mt-3">
  <div class="row d-flex justify-content-center">
    <div class="col-9">
      <h2>New article</h2>
      <%= render 'articles/form' %>
      <div class="mt-3">
        <%= link_to "Back", articles_path %>
      </div>
    </div>
  </div>
</div>
